.headerBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 45px;
  box-shadow: 0 0 8px 0 rgba(0,0,0,0.2);
  padding: 0.5em;
  margin-bottom: 2vh;

  .leftControls, .rightControls {
    display: flex;
    height: 100%;
    align-items: center;
  }

  .rightControls {
    align-self: flex-end;
  }

  .leftControls {
    align-self: flex-start;
  }
}
